####AnagramLibrary###

/AnagramLibrary/bin/*
/AnagramLibrary/obj/*
/AnagramLibrary/obj/Release
/AnagramLibrary/.vs
/AnagramLibrary/obj/Debug
#/AnagramLibrary/Properties

###AnagramProject##

/AnagramProject/bin/*
/AnagramProject/obj/*
/AnagramProject/.vs/*
/AnagramProject/TestResults/*
/AnagramProject/packages/*
#/AnagramProject/App.config
/AnagramProject/.vs/AnagramProject/v17
/AnagramProject/obj/Debug
/AnagramProject/.vs/AnagramProject/FileContentIndex
#/AnagramProject/Properties

###AnagramTest###

/AnagramTest/bin/*
/AnagramTest/obj/*
/AnagramTest/obj/Debug
#/AnagramTest/Properties
#/AnagramTest/packages.config

.git/*
.vs/*
#*.sln
