\AnagramLibrary\bin/*
\AnagramLibrary\obj/*
\AnagramProject\bin/*
\AnagramProject\obj/*
\AnagramProject\.vs/*
\AnagramProject\TestResults/*
\AnagramProject\packages/*
\AnagramTest\bin/*
\AnagramTest\obj/*
.git/*
.vs/*
/AnagramLibrary/obj/Debug
/AnagramProject/.vs/AnagramProject/FileContentIndex
/AnagramTest/obj/Debug
/AnagramProject/obj/Debug
.gitignore
/AnagramProject/.vs/AnagramProject/v17
/AnagramLibrary/obj/Release
/AnagramLibrary/.vs
