\AnagramLibrary\bin/
\AnagramLibrary\obj/
\AnagramProject\bin/
\AnagramProject\obj/
\AnagramProject\.vs/
\AnagramProject\TestResults/
\AnagramProject\packages/
\AnagramTest\bin/
\AnagramTest\obj/
.git/
.vs/

